# Data Science Tools and Ecosystem

**Objectives:**
* List popular languages for Data Science
* List Data Science Tools and Ecosystem
* List of coomon librariesused by Data scientis

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. java
4. SQL
5. SCALA
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib
3. numpy
4. scikit-learn
5. Apache Spark
6. Tensor Flow
7. keras

| Data Science Tools | 
| -------------|
| Jupyter Environments | 
| Anaconda | 
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author 
Jacopo